/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Escape {
            bindings = <&kp ESCAPE>;
            key-positions = <19 20>;
            timeout-ms = <100>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp ESCAPE     &kp Q             &kp W        &kp F           &kp P        &kp B      &kp J    &kp L      &kp U           &kp Y        &kp SEMICOLON      &kp MINUS
&kp BACKSPACE  &mt LEFT_SHIFT A  &mt LCTRL R  &mt LEFT_ALT S  &lt 1 T      &kp G      &kp M    &lt 1 N    &mt LEFT_ALT E  &mt RCTRL I  &mt RIGHT_SHIFT O  &kp SQT
&caps_word     &kp X             &kp C        &kp D           &kp V        &kp Z      &kp K    &kp H      &kp COMMA       &kp DOT      &kp FSLH           &kp NON_US_BACKSLASH
                                              &mo 2           &lt 3 SPACE  &kp TAB    &kp RET  &kp SPACE  &mo 2
            >;
        };

        symbols {
            bindings = <
&kp RA(P)  &kp EXCLAMATION  &kp AT_SIGN  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE         &trans  &trans        &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp EQUAL
&kp RA(Q)  &kp HASH         &kp DOLLAR   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp GRAVE        &trans  &kp ASTERISK  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_0
&kp RA(Y)  &kp PERCENT      &kp CARET    &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp AMPERSAND    &trans  &trans        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PLUS
                                         &trans                &trans                 &trans           &trans  &trans        &trans
            >;
        };

        window_manager {
            bindings = <
&trans  &kp LS(LG(Q))  &trans  &trans  &trans  &trans    &kp LG(NUMBER_1)    &kp LG(NUMBER_2)    &kp LG(NUMBER_3)  &kp LG(NUMBER_4)  &kp LG(NUMBER_5)  &trans
&trans  &trans         &trans  &trans  &trans  &trans    &kp LG(LEFT_ARROW)  &kp LG(DOWN_ARROW)  &kp LG(UP_ARROW)  &kp LG(RIGHT)     &trans            &trans
&trans  &trans         &trans  &trans  &trans  &trans    &trans              &trans              &trans            &trans            &trans            &trans
                               &trans  &trans  &trans    &trans              &trans              &trans
            >;
        };

        navigation {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &trans    &trans        &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LEFT_ARROW  &kp DOWN  &kp UP_ARROW  &kp RIGHT_ARROW  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &trans    &trans        &trans           &trans  &trans
                        &trans  &trans  &trans    &trans          &trans    &trans
            >;
        };
    };
};
